<script type="module">
    import HashedPassword from "custom/password"  
    new HashedPassword()
</script>
<div>
    #image_tag 'woman-reading-book-under-the-tree.gif', class: "woman_reading"
    <h2>make your own <span id="previous_works_link"><%= link_to "account", registrations_new_path %></span></h2>
</div>