#categories_container {
  width: 100%;
  position: absolute;
  margin-top: 20px;
  margin-left: 13%;
  display: grid;
  grid-template-columns: repeat(4, 17%);
  column-gap: 2%;
  row-gap: 3%;

  #link_to_new_category,
  #each_category_container {
    height: 250px;
    border-radius: 15px;
  }

  #link_to_new_category {
    border: 1.5px dashed rgba(23, 23, 23, 0.5);
    color: rgba(23, 23, 23, 0.3);
    text-align: center;
    transition: 300ms;

    i {
      margin-top: 45%;
      font-size: 2em;
      border: 2px solid rgba(23, 23, 23, 0.3);
      padding: 5px 8px;
      border-radius: 40px;
    }

    &:hover {
      color: rgb(23, 23, 23);
      border: 1.5px dashed black;
      transition: 300ms;

      > i {
        transition: 300ms;
        border: 2px solid rgb(23, 23, 23);
        color: rgb(23, 23, 23);
      }
    }
  }

  #each_category_container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    #category_card_name {
      display: flex;
      justify-content: center;

      a {
        font-size: 1.4em;
        text-decoration: none;
        color: rgb(23, 23, 23);
        transition: 300ms;
        padding: 5px 20px;
        font-family: 'Gloria Hallelujah', cursive;
        border-bottom: 3px solid rgba(255, 255, 255, 0);

        &:visited {
          text-decoration: none;
          color: rgb(23, 23, 23);
        }

        &:hover {
          border-bottom: 3px solid #000;
          transition: 300ms;
        }
      }
    }

    #add_task_in_card {
      margin: 0 0 2px 0;
      display: block;
      width: 100%;
      cursor: pointer;

      i::before {
        color: rgba(23, 23, 23, 0.5);
        margin-left: 10px;
      }

      span {
        font-size: 1em;
        text-decoration: none;
        color: rgba(23, 23, 23, 0.5);
        transition: 300ms;
        padding-top: 5px;
        padding: 0 5px 0 7px;
        border-top: 2px solid rgba(255, 129, 44, 0);
        border-bottom: 2px solid rgba(255, 129, 44, 0);
      }

      &:visited {
        text-decoration: none;
        color: rgb(23, 23, 23);
      }

      &:hover span {
        transition: 300ms;
        color: rgb(23, 23, 23);
      }

      &:hover i::before {
        transition: 300ms;
        color: rgb(23, 23, 23);
      }
    }

    #list_container {
      overflow-y: hidden;

    }

    #task_in_card {
      border-radius: 15px;

      &::-webkit-scrollbar {
        padding-top: 10px;
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #462150;
        border-radius: 20px;
      }

      &::-webkit-scrollbar-track {
        margin: 10px 0 10px;
      }

      a {
        font-size: 1.2em;
        text-decoration: none;
        color: rgb(23, 23, 23);
        transition: 300ms;
        display: block;
        padding: 0 10px;
        border-top: 2px solid rgba(255, 129, 44, 0);
        border-bottom: 2px solid rgba(255, 129, 44, 0);

        &:visited {
          text-decoration: none;
          color: rgb(23, 23, 23);
        }

        &:hover {
          transition: 300ms;
        }
      }

      a::before {
        content: "•";
        font-size: 1.3em;
        color: rgba(23, 23, 23, 0);
      }

      a:hover::before {
        content: "•";
        font-size: 1.3em;
        color: rgb(23, 23, 23);
      }
    }
  }

}
