#categories_container {
  width: 100%;
  position: absolute;
  margin-top: 20px;
  margin-left: 13%;
  display: grid;
  grid-template-columns: repeat(4, 17%);
  column-gap: 2%;
  row-gap: 3%;

  #link_to_new_category,
  #each_category_container {
    height: 250px;
    border-radius: 15px;
  }

  #link_to_new_category {
    border: 1.5px dashed rgba(23, 23, 23, 0.5);
    color: rgba(23, 23, 23, 0.3);
    text-align: center;
    transition: 300ms;

    i {
      margin-top: 45%;
      font-size: 2em;
      border: 2px solid rgba(23, 23, 23, 0.3);
      padding: 5px 8px;
      border-radius: 40px;
    }

    &:hover {
      color: rgb(23, 23, 23);
      border: 1.5px dashed black;
      transition: 300ms;

       > i {
        transition: 300ms;
        border: 2px solid rgb(23, 23, 23);
        color: rgb(23, 23, 23);
      }
    }
  }

  #each_category_container {
    border: 1px solid black;

    #category_card_name {
      display: flex;
      justify-content: center;

      a {
        font-size: 2em;
        font-weight: 700;
        text-decoration: none;
        color: rgb(23, 23, 23);
        transition: 300ms;
        font-weight: 700;
        padding-top: 5px;
        font-family: 'Indie Flower', cursive;
       
        &:visited {
            text-decoration: none;
            color: rgb(23, 23, 23);
        }
  
        &:hover {
            border-bottom: 3px solid #000; 
            transition: 300ms;
        }
      }
    }
    
  }


   
  
}
