header {
    display: flex;
    align-items: flex-end;
    background-color: rgb(23, 23, 23);
    align-items: center;
    padding: 3px 5px;
    z-index: 500;
    font-family: 'Lora', serif;
    
    #logo-span {
        color: whitesmoke;
        margin-left: 20px;
        margin-right: 10px;
    }

    #header_vertical_line_span {
        color: whitesmoke;
        margin-right: 10px;
    }

    #header_current_user_span {
        color: whitesmoke;
        margin-right: auto;
    }

    nav {
        margin-left: auto;
        margin-right: 20px;
        ul {
            display: flex;
            gap: 20px;
            padding: 5px;
            list-style-type: none;
            font-size: 16px;
            font-weight: 700;
        
                .nav_link {
                    text-decoration: none;
                    padding: 2px;
                    transition: 300ms;
                    color: whitesmoke;
        
                    &:visited {
                        text-decoration: none;
                    }
        
                    &:hover {
                       color: rgb(125, 123, 123);
                       transition: 300ms;
                    }
                }
            }
    }
}