<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= link_to @category, :id => "back_button" do %>
    <div>
        <i class="fa-solid fa-arrow-left"></i>
        <span>Preview this category</span>
    </div>
<% end %>


<%= render "form", category: @category %>
