<header>
    <nav>
        <ul>
        <li><%= link_to "Home", root_path, :class => "nav_link" %> </li>
        <li><%= link_to "Sign Up", sign_up_new_path, :class => "nav_link" %> </li>
        #<li>link_to "Sign In", articles_path, :class => "nav_link"</li>
        </ul>
    </nav>
</header>