<header>
    <strong id="logo-span">Journee</strong>
    <nav>
        <ul>
        <li><%= link_to "Home", root_path, :class => "nav_link" %> </li>
        <li><%= link_to "Register", registrations_new_path, :class => "nav_link" %> </li>
        <li><%= link_to "Sign In", categories_path, :class => "nav_link" %></li>
        </ul>
    </nav>
</header>